<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.timecat.module.about.activity.HabitsHelpActivity" />
        <activity android:name="com.timecat.module.about.activity.HowToUseActivity" />
        <activity
            android:name="com.timecat.module.about.activity.LicenseActivity"
            android:theme="@style/about_LicenseActivity" />
        <activity
            android:name="com.timecat.module.about.activity.AboutActivity"
            android:theme="@style/about_AboutActivity" />
        <activity android:name="com.timecat.module.about.activity.DonateActivity" />
    </application>

</manifest>