<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timecat.module.guide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity
            android:name="com.timecat.module.guide.WelcomeGuideActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.timecat.module.guide.PreSettingActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".onboarding.OnBoardingActivity" />
    </application>
</manifest>
